---
import { frontmatter } from '../settings/Settings.md'
// import {
// Content as AboutContent,
// frontmatter as aboutData,
// } from '../user-content/About.md'
import { loadQuery } from '../sanity/lib/loadQuery'

import { frontmatter as projectData } from '../user-content/Projects.md'

import Layout from '../layout/Layout.astro'
import AboutSection from '../components/AboutSection.astro'
import ProjectSets from '../components/ProjectSets.astro'
import ReelSlideshow from '../components/ReelSlideshow.astro'
import ScrollButton from '../components/ScrollButton.svelte'

const { description, name, title, themeColors, reel } = frontmatter

const { data: aboutData } = await loadQuery({
  query: `*[_type == "about"][0] { ..., image{ ..., asset-> } }`,
  params: {},
})
---

<Layout
  description={description}
  name={name}
  title={title}
  themeColors={themeColors}
>
  <div class="section top">
    <div class="initial-view" data-initial-view>
      <header class="landing">
        <h1>{name}</h1>
        <h2 style="color: rgb(255 255 255 / 50%)">{title}</h2>
      </header>

      <ReelSlideshow reel={reel} />

      <div class="align-r scroller-fade-in" style="padding-top: 1rem;">
        <ScrollButton targetId="first-section" client:load />
      </div>
    </div>
  </div>

  <main class="landing">
    <ProjectSets projectSets={projectData.projectSets} />

    <AboutSection
      AboutContent={aboutData.content}
      title={aboutData.title}
      image={aboutData.image}
      email_button={aboutData.email_button}
      social_links={aboutData.social_links}
    />
  </main>
</Layout>
