---
import {
  Content as AboutContent,
  frontmatter as about,
} from '../user-content/About.md'
import Button from './Button.astro'
---

<section class="section" id="about">
  <h3>{about.title}</h3>

  <div class="bleed-r">
    <img src={about.image.url} alt={about.image.alt} class="portrait" />
  </div>

  <div class="contact">
    <Button
      href={`mailto:${about.email_button.address}`}
      label={about.email_button.label}
    />

    <nav class="social">
      {
        about.social_links.map((service) => (
          <a href={service.url}>{service.label}</a>
        ))
      }
    </nav>
  </div>

  <AboutContent />
</section>

<style>
  .section {
    max-width: 36rem;
  }

  @media (min-width: 36rem) {
    .bleed-r {
      margin-right: 0;
    }
  }
</style>
