---
import { loadQuery } from '../sanity/lib/loadQuery'
import { renderPortableText } from '../sanity/lib/renderPortableText.js'
import Button from './Button.astro'
import { getSrcset } from '../scripts/getSrcset'
import { IMG_GLOBAL_URL_PARAMS, MAX_DPR } from '../config'

const { data } = await loadQuery({
  query: `
    *[_type == "about"][0] { 
      title,
      content,
      social_links,
      email_button,
      image {
        alt,
        "width": asset->metadata.dimensions.width,
        "height": asset->metadata.dimensions.height,
        "aspect": asset->metadata.dimensions.aspectRatio,
        "url": asset->url,
      }
    }
  `,
})

const { content, title, image, email_button, social_links } = data
const aboutText = renderPortableText(content)
const IMG_MAX_WIDTH = 572 // ~36rem max-width from CSS
---

<section
  class="section"
  id="about"
>
  <h3>{title}</h3>

  <div class="bleed-r">
    <img
      src={image.url + `?w=${IMG_MAX_WIDTH * MAX_DPR}${IMG_GLOBAL_URL_PARAMS}`}
      srcset={getSrcset({
        url: image.url,
        min: 300,
        max: IMG_MAX_WIDTH * MAX_DPR,
        step: 200,
        additionalParams: IMG_GLOBAL_URL_PARAMS,
      })}
      sizes=`(max-width: 48rem) 90vw, ${IMG_MAX_WIDTH}px`
      width={IMG_MAX_WIDTH}
      height={Math.round(IMG_MAX_WIDTH / image.aspect)}
      class="portrait"
      alt={image.alt}
    />
  </div>

  <div class="contact">
    <Button
      href={`mailto:${email_button.address}`}
      label={email_button.label}
    />

    <nav class="social">
      {social_links.map((service) => <a href={service.url}>{service.label}</a>)}
    </nav>
  </div>

  <div set:html={aboutText} />
</section>

<style>
  .section {
    max-width: 36rem;
  }

  img.portrait {
    height: auto;
  }

  @media (min-width: 36rem) {
    .bleed-r {
      margin-right: 0;
    }
  }
</style>
