---
import Button from './Button.astro'

const { AboutContent, title, image, email_button, social_links } = Astro.props
---

<section class="section" id="about">
  <h3>{title}</h3>

  <div class="bleed-r">
    <img src={image.url} alt={image.alt} class="portrait" />
  </div>

  <div class="contact">
    <Button
      href={`mailto:${email_button.address}`}
      label={email_button.label}
    />

    <nav class="social">
      {social_links.map((service) => <a href={service.url}>{service.label}</a>)}
    </nav>
  </div>

  <AboutContent />
</section>

<style>
  .section {
    max-width: 36rem;
  }

  @media (min-width: 36rem) {
    .bleed-r {
      margin-right: 0;
    }
  }
</style>
