---
import { loadQuery } from '../sanity/lib/loadQuery'
import { renderPortableText } from '../sanity/lib/renderPortableText.js'
import Button from './Button.astro'

const { data } = await loadQuery({
  query: `*[_type == "about"][0] { ..., image { ..., asset-> } }`,
  params: {},
})

const { content, title, image, email_button, social_links } = data
const aboutText = renderPortableText(content)
---

<section
  class="section"
  id="about"
>
  <h3>{title}</h3>

  <div class="bleed-r">
    <img
      src={image.asset.url}
      alt={image.alt}
      class="portrait"
    />
  </div>

  <div class="contact">
    <Button
      href={`mailto:${email_button.address}`}
      label={email_button.label}
    />

    <nav class="social">
      {social_links.map((service) => <a href={service.url}>{service.label}</a>)}
    </nav>
  </div>

  <div set:html={aboutText} />
</section>

<style>
  .section {
    max-width: 36rem;
  }

  @media (min-width: 36rem) {
    .bleed-r {
      margin-right: 0;
    }
  }
</style>
