---
import BaseModal from './BaseModal.astro'
import VimeoPlayer from './VimeoPlayer.astro';
import { imagePath } from '../data/siteInfo'
import Markdown from './Markdown.astro'

const { triggerId, project: {title, director, clips, stills }, projectType } = Astro.props
---

<BaseModal {triggerId}>
  <header>
    <h3 tabindex="-1">
      <Markdown content={title} inline />
    </h3>
    <h4>
      {projectType}
      {director && <><br>Director: {director}</>}
    </h4>
  </header>

  <main class="content">
    <div class="content-inner">
      {clips && 
        <section class="clips">
          {clips.map(clip => (
            <div class="clip bleed">
              <VimeoPlayer url={clip} />
            </div>
          ))}
        </section>
      }

      {stills && 
        <section class="stills">
          <div class="still-thumbs">
            {stills.map(still => (
              <img src={imagePath + still} alt="" loading="lazy" />
            ))}
          </div>
        </section>
      }
    </div>
  </main>
  
</BaseModal>

<style lang="scss">
header {
  padding-left: 2rem;
  margin-bottom: 2rem;
  position: sticky;
  z-index: 100;
  top: 0;
  mix-blend-mode: screen;

  h3 {
    padding: 0;
    margin-bottom: 0;
  }

  [tabindex="-1"] {
    outline: none;
  }

  h4 {
    font-weight: 400;
    font-size: 0.8125em;
    letter-spacing: 0.05ch;
  }
}

.content {
  z-index: 1;
  background-color: var(--color-modal-bg);
  box-shadow: 0 -1rem 1rem var(--color-modal-bg);
  width: 100vw;
}

.content-inner {
  max-width: min(170vh, var(--max-element-width));
  margin: 0 auto;
}

.still-thumbs {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(0.5rem, 4vw, 1.5rem);

  img {
    width: calc(50% - clamp(0.25rem, 2vw, 0.75rem));
  }
}

.clip {
  max-width: min(170vh, var(--max-element-width));
  margin: 0 auto;
}

.clip {
  margin-bottom: clamp(2rem, calc(1rem + 3vw), 4rem);
}
</style>