---
import Monogram from '../components/Monogram.astro'
import '../styles/global.scss'
import { getOgImageUrl } from '../scripts/utils/getImageUrl'

const { name, title, description, ogImage, colorVerticalRule } = Astro.props
const htmlString = `<style>:root {
  --color-vertical-rule: rgb(
    ${colorVerticalRule.rgb.r},
    ${colorVerticalRule.rgb.g},
    ${colorVerticalRule.rgb.b},
    ${colorVerticalRule.rgb.a}
  ); }</style>`
const docTitle = `${name}${title ? ` · ${title}` : ''}`
---

<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#000000" />
    {description && <meta name="description" content={description} />}
    <title>{docTitle}</title>

    <meta property="og:title" content={docTitle} />
    {description && <meta property="og:description" content={description} />}
    {
      ogImage?.url && (
        <meta
          property="og:image"
          content={getOgImageUrl(ogImage, {
            targetWidth: 1200,
            targetHeight: 630,
          })}
        />
      )
    }

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="preconnect" href="//cdn.sanity.io" />
    <link rel="dns-prefetch" href="//cdn.sanity.io" />
    <link rel="preconnect" href="//player.vimeo.com" />
    <link rel="dns-prefetch" href="//player.vimeo.com" />

    <script>
      document.documentElement.className =
        document.documentElement.className.replace(/\bno-js\b/g, '') + ' js '
    </script>

    <Fragment set:html={htmlString} />

    <style>
      @font-face {
        font-family: 'CabinetGrotesk';
        font-display: swap;
        font-weight: 100 900;
        font-style: normal;
        src:
          url('/fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
          url('/fonts/CabinetGrotesk-Variable.woff') format('woff'),
          url('/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
  </head>

  <body class="home">
    <noscript>
      <p>
        ⚠ This website requires JavaScript, but this browser has JavaScript
        disabled.
        <a href="https://activatejavascript.org"
          >Learn how to enable Javascript</a
        >.
      </p>
    </noscript>

    <div class="container">
      <slot />

      <footer>
        <Monogram />
        <p>&copy; {name}</p>
      </footer>
    </div>

    <script src="https://player.vimeo.com/api/player.js"></script>
  </body>
</html>
